<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prototype2 .xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Prototype2-n.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89D694A223E0F5EF003EC695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89D694B823E0F5F4003EC695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89D694C323E0F5F4003EC695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
